<script setup>
import { Head, usePage, router } from '@inertiajs/vue3';
import { computed } from 'vue';
import AppLayout from '@/Layouts/AppLayout.vue'

defineOptions({ layout: [AppLayout] });
const props = usePage().props;
const currentUserRole = props.auth.role.name;
const userList = computed(() => props.users);
const roles = computed(() => props.roles);
const title = currentUserRole === 'administrator'
    ? 'Gebruikersoverzicht'
    : 'Klantenoverzicht'
const selectRole = (roleId) => {
    const role = roles.value.find(role => role.id == roleId);
    return role ?? null;
};
const updateUserRole = (user, newRoleId) => {
    if (user.role_id !== newRoleId) {
        router.put(`/admin/manage/users/${user.id}/role/switch`,
            { oldRoleId: user.role_id, newRoleId: newRoleId }, { preserveState: false },
        );
    }
}
</script>

<template>

    <Head :title="title" />
    <h1 class="focus-link">{{title}}</h1>
    <table>
        <thead>
            <th>Naam</th>
            <th>Email</th>
            <th>Rol</th>
            <th v-if="currentUserRole === 'administrator'">Wijzig Rol</th>
        </thead>
        <tbody>
            <tr v-if="currentUserRole === 'administrator'" v-for="user in userList" :key="user.id">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ selectRole(user.role_id).name }}</td>
                <td v-if="currentUserRole === 'administrator'"><select
                        @change="updateUserRole(user, parseInt($event.target.value))">
                        <option selected disabled hidden>{{ selectRole(user.role_id).name }}
                        </option>
                        <option :key="role.id" v-for="role in roles" :value="role.id">{{ role.name }}</option>
                    </select></td>
            </tr>
            <tr v-else-if="currentUserRole === 'werknemer'" v-for="user in userList" :key="user.email">
                <td v-if="selectRole(user.role_id).name === 'klant'">{{ user.name }}</td>
                <td v-if="selectRole(user.role_id).name === 'klant'">{{ user.email }}</td>
                <td v-if="selectRole(user.role_id).name === 'klant'">{{ selectRole(user.role_id).name }}</td>
            </tr>
        </tbody>
    </table>
</template>
