<script setup>
import {  Link, useForm } from '@inertiajs/vue3';
import { defineProps } from 'vue';
const props = defineProps ({
  user: Object
})
const form = useForm({});
</script>

<template>
  <li>
    <div v-if="!user">
      <Link href="/login">Login </Link> ||
      <Link href="/register">Registreer</Link>
    </div>
    <div v-else>
      <Link href="/dashboard">Dashboard</Link> ||
      <button @click="form.post('/auth/logout')" :disabled="form.processing" type="button">Log uit</button>
    </div>
  </li>
</template>
