<script setup>
import NavLink from '../CustomComponents/NavLink.vue';
import { usePage } from '@inertiajs/vue3';
import { computed } from 'vue';
const page = usePage();
const props = defineProps({
    userRole: String,
    user: Object,
});
const machine = computed(() => page.props.machine);
</script>

<template>
    <li v-if="machine">
        <NavLink :href="'/machine/' + machine.id + '/' + machine.name">
            <b>{{ machine.name }}</b>
        </NavLink>
    </li>
    <li v-if="props.user">
        <NavLink href="/dashboard">
            {{ props.user.name }}
        </NavLink>
    </li>
    <li>
        <NavLink href="/">
            <span v-if="!props.user">Home</span>
            <span v-else>Dashboard</span>
        </NavLink>
    </li>
    <li>
        <NavLink href="/catalog">
            Catalogus
        </NavLink>
    </li>
    <li>
        <NavLink href="/about">
            Over ons
        </NavLink>
    </li>
    <li>
        <NavLink href="/contact">
            Contact
        </NavLink>
    </li>
    <li v-if="props.userRole === 'administrator'">
        <NavLink href="/users-panel">
            Gebruikersbeheer
        </NavLink>
    </li>
    <li v-if="props.userRole === 'werknemer'">
        <NavLink href="/users-panel">
            Klantenbeheer
        </NavLink>
    </li>
</template>
