<script setup>
import { Link } from '@inertiajs/vue3';
const props = defineProps({
    machine: Object,
})
</script>
<template>
    <li class="mb-1">
        <Link href="/dashboard">Dashboard</Link>
    </li>
    <li class="mb-1" v-if="machine">
        <Link :href="`/machine/${machine.id}/${machine.name}`"><strong class="focus-link">{{ machine.name }}</strong>
        </Link>
    </li>
    <li class="mb-1">
        <Link href="/products">Voorraadbeheer</Link>
    </li>
    <li class="mb-1" v-if="machine">
        <Link :href="`/machine/${machine.id}/${machine.name}/manage`">Vakken Beheren</Link>
    </li>
    <li class="mb-1" v-if="machine">
        <Link :href="`/machine/${machine.id}/cash`">Wisselgeld beheren</Link>
    </li>
    <li class="mb-1" v-if="machine">
        <Link :href="`/machine/${machine.id}/shopping`">Kopen als klant</Link>
    </li>
</template>
