<script setup>
import { Head, usePage, useForm, router } from '@inertiajs/vue3';
import UserLayout from '@/Layouts/UserLayout.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import { computed, ref } from 'vue';
import CreateMachineForm from '@/Components/Forms/CreateMachineForm.vue';
import ErrorMessage from '@/Components/CustomComponents/ErrorMessage.vue';
import SubmitButton from '@/Components/CustomComponents/SubmitButton.vue';

defineOptions({ layout: [AppLayout, UserLayout] });
const page = usePage();
const machineName = ref('');
const products = computed(() => page.props.products);
const storageTypes = computed(() => page.props.storageTypes);

const form = useForm
    ({
        name: '',
        storages: []
    });
const findStorageType = (storageTypeId) => {
    return storageTypes.value.find(type => type.id === storageTypeId);
}
const findProduct = (productId) => {
    return products.value.find(product => product.id === productId);
}

const addStorage = (storage) => {
    if (!storage.type) {
        const product = findProduct(storage.product_id);
        storage.type = findStorageType(product.storage_property_id).id;
    }
    form.storages.push(storage);
    lastSlide();
};

const currentIndex = ref(0);

const prevSlide = () => {
    if (currentIndex.value >= 1) currentIndex.value -= 1;
    console.log(data.value);
};

const nextSlide = () => {
    if (currentIndex.value + 1 < form.storages.length) currentIndex.value += 1;
};

const lastSlide = () => {
    currentIndex.value = form.storages.length - 1;
}
// const deleteCurrentStorage = () => {
// }

const submit = () =>{
    form.post('/machine/create', form);
}
</script>

<template>

    <Head title="Machine aanmaken" />
    <section>
        <header>
            <h2>Maak een machine</h2>
        </header>
        <article class="d-flex ">
            <div class="mx-auto">
                    <CreateMachineForm :storageTypes="storageTypes" :storages="form.storages"
                        @addStorage="addStorage" />
                </div>
            <div class="p-2">
                <p>Aantal vakken: {{ form.storages.length }}</p>

                <div v-for="(storage, index) in form.storages" :key="index" v-show="currentIndex === index">
                    Vak: {{ index + 1 }}
                    <ul>
                        <li>Product: {{ products.find(product => product.id === storage.product_id)?.name ?? 'voorlopig leeg'}}</li>
                        <li v-if="products.price">Prijs per {{ products.find(product => product.id === storage.product_id)?.SKU }}
                            <span>&euro;</span> {{ products.find(product => product.id === storage.product_id)?.prices.price }},&hyphen;
                        </li>
                        <li aria-label="Kies het type vak">Type vak: {{ findStorageType(storage.type).type }}</li>
                    </ul>
                </div>

                <div v-if="form.storages.length > 0" class="my-2">
                    <button aria-label="Ga naar het vorige vak in uw samengestelde vakken" @click="prevSlide">Vorige</button>
                    <button aria-label="Ga naar het vorige vak in uw samengestelde vakken" @click="nextSlide">Volgende</button>
                </div>
            </div>
            <form @submit.prevent="submit" class="">
                <div>
                    <label for="machineName">De naam van uw machine: <small>(Geen speciale tekens of spaties)</small>
                    </label>
                    <input type="text" required name="machineName" id="machineName" v-model="form.name">
                    <div v-if="form.errors.name">
                     <ErrorMessage :errors="form.errors.name" />
                     </div>
                   <button type="submit" class="button-submit">Maak machine</button>
                </div>
                </form>
               
        </article>
    </section>
</template>
