<script setup>
import { Head, usePage, Link } from '@inertiajs/vue3';
import UserLayout from '@/Layouts/UserLayout.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import { computed } from 'vue';

defineOptions({ layout: [AppLayout, UserLayout] });
const props = usePage().props;
const machines = computed(() => props.machines);
</script>

<template>
    <Head title="Dashboard" />
    <h1 class="focus-link">Dashboard</h1>
        <article aria-label="Een overzicht van machines">
            <h2>Machines</h2>
            <p v-if="!machines">U heeft nog geen machine</p>
            <div class="my-1" v-for="machine in machines" :key="machine">
                <Link :aria-label="`Dit is de link naar de machine: ${machine.name}`" :href="'/machine/' + machine.id + '/' + machine.name"> {{ machine.name }}
                </Link>
            </div>
            <div>
                <Link class="show-link" href="/machine/create">Bouw een machine</Link>
            </div>
        </article>
</template>
