<script setup>
import { usePage, Head } from '@inertiajs/vue3';
import UserLayout from '@/Layouts/UserLayout.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import MachineDisplay from '@/Components/MachineComponents/MachineDisplay.vue';
import { computed } from 'vue';

defineOptions({ layout: [AppLayout, UserLayout] });
const page = usePage();
const storages = computed(() => page.props.storages);
const storageTypes = computed(() => page.props.storageTypes);
const products = computed(() => page.props.products);
const machine = computed(() => page.props.machine);
</script>

<template>
    <Head :title="machine.name"></Head>
    <div class="machine pos-rel">
        <h1>Machine {{ machine.name }} - Overzicht</h1>
        <MachineDisplay :storageTypes="storageTypes" :storages="storages" :products="products" :editMode="false"/>

    </div>
</template>
