<script setup>
import { usePage, Head, router } from '@inertiajs/vue3';
import UserLayout from '@/Layouts/UserLayout.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import { computed } from 'vue';
import MachineDisplay from '@/Components/MachineComponents/MachineDisplay.vue';

defineOptions({ layout: [AppLayout, UserLayout] });

const page = usePage();
const machine = computed(() => page.props.machine);
const storages = computed(() => page.props.storages);
const products = computed(() => page.props.products);
const storageTypes = computed(() => page.props.storageTypes);
</script>

<template>
    <Head :title="machine.name"></Head>
    <div class="machine">
        <header>
            <h1>Vakken beheren</h1>
            <span>Hier kunt u de producten van de vakken wijzigen, vakken openen en sluiten en vullen en
                leegmaken</span>
        </header>
        <MachineDisplay :machineId="machine.id" :storageTypes="storageTypes" :storages="storages" :products="products"
            :editMode="true" />
    </div>
</template>
