<script setup>
import { usePage, Head, router } from '@inertiajs/vue3';
import UserLayout from '@/Layouts/UserLayout.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import { computed, ref } from 'vue';

defineOptions({ layout: [AppLayout, UserLayout] });
const page = usePage();
const coins = computed(() => page.props.coins);
const machine = computed(() => page.props.machine);

const calculateCash = () => {
    let totalAmount = 0;
    for (const [key, value] of Object.entries(inputValues.value)) {

        totalAmount += value.value * value.quantity;
    }
    return (totalAmount / 100).toFixed(2);
}

const inputValues = ref({});

// Initial coin data
coins.value.forEach(coin => {
    inputValues.value[coin.id] = {
        'value': coin.value,
        'quantity': coin.pivot.quantity,
        'current': coin.pivot.quantity
    };
})

const exchangeCash = () => {
    router.put(`/machine/${machine.value.id}/cash/exchange`, inputValues.value);
    originalCash.value = calculateCash();
}

const originalCash = ref(calculateCash());

// Reset to initial coin data
const resetValues = () => {
    for (const key in inputValues.value) {
        if (inputValues.value.hasOwnProperty(key)) {
            inputValues.value[key].quantity = inputValues.value[key].current;
        }
    }
}
</script>

<template>

    <Head title="Wisselgeld" />
    <div class="cash-machine machine">
        <header>
            <h1>Beheer het wisselgeld</h1>
            <span>U ziet hoeveel wisselgeld er in de machine ziet, middels de schuifknoppen of de invoervelden kunt u dit
                aanpassen</span>
                </header>
        <table class="text-center">
            <caption>Wisselgeld</caption>
            <thead>
                <tr>
                    <th>Soort geld</th>
                    <th>Hoeveelheid</th>
                    <th>Aanpassen</th>
                    <th>Nieuwe hoeveelheid</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="coin in coins" :key="coin.id">
                    <td>{{ coin.slug }}</td>
                    <td>{{ coin.pivot.quantity === 0 ? 'leeg' : coin.pivot.quantity }}</td>
                    <td>
                        <input tabindex="-1" v-model="inputValues[coin.id].quantity" type="range" min="0" max="100"
                            :id="`${coin.slug}_Slider`">
                    </td>
                    <td tabindex="0" :aria-label="`In de machine zit ${coin.pivot.quantity} keer ${coin.slug}`">
                        <input aria-label="`Vul hier in welke kwantiteit u van ${coin.slug} wil`"
                            v-model="inputValues[coin.id].quantity" min="0" max="100" type="number">
                    </td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <div>
            <div>Huidige totaal: &euro;{{ originalCash }}</div>
            <div>Nieuwe totaal: &euro;{{ calculateCash() }}</div>
            <button title="Sla de huidige waarden op" @click="exchangeCash">Wijzig </button>
            <button title="Zet de waarden terug naar hoe ze waren" @click="resetValues">Reset </button>
        </div>
    </div>
</template>
