<script setup>
import { Head, usePage, router } from '@inertiajs/vue3';
import UserLayout from '@/Layouts/UserLayout.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import { computed, ref } from 'vue';

defineOptions({ layout: [AppLayout, UserLayout] });
const page = usePage();
const categories = computed(() => page.props.categories);
const products = computed(() => page.props.products)

const selectedProduct = ref({});
const dialog = ref(false);
const data = ref({
    price: null
});
const openDialog = (product) => {
    data.price = '';
    selectedProduct.value = product;
    dialog.value = true;
}
const closeDialog = () => {
    dialog.value = false;
}

const findCategoryName = (product) => {
    return categories.value.find(x => x.id === product.category_id).name;

}
const findCategoryDescription = (product) => {
    return categories.value.find(x => x.id === product.category_id).description;
}

const sendPutRequest = (productId) => {
    console.log(selectedProduct.value.id);
    router.put(`/products/prices/${productId}`, data.value);
}
const capitalizeFirstLetter = (string) => {
    return string.charAt(0).toUpperCase() + string.slice(1);

}
</script>

<template>

    <Head title="Producten" />
    <h1 class="focus-link">
        Voorraadbeheer
    </h1>
    <table class="inline-75 m-auto">
        <caption>
            Alle producten en de prijzen
            <span>Hier kunt u de prijzen wijzigen van de producten</span>
        </caption>
        <thead>
            <tr>
                <th>Categorie</th>
                <th>Naam</th>
                <th>Prijs</th>
            </tr>
        </thead>
        <tbody v-if="products">

            <tr v-for="product in products" :key="product.id">
                <td :title="findCategoryDescription(product)">
                    {{ capitalizeFirstLetter(findCategoryName(product)) }}
                </td>
                <td :title="product.description">
                    {{ capitalizeFirstLetter(product.name) }}
                </td>
                <td>
                    <button
                        :aria-label="`Het product ${product.name} heeft ${product.price ? ` als prijs &euro;${product.price.price.toFixed(2)}` : 'nog geen prijs'}`"
                        @click="openDialog(product)">{{ product.price ?
            `&euro;${product.price.price.toFixed(2)},&hyphen;` : 'Nog geen prijs' }}</button>

                </td>
            </tr>
        </tbody>
    </table>
    <dialog :open="dialog">

        <h3>Wijzig de prijs van {{ selectedProduct.name }}</h3>
        <div>
            <p>Huidige prijs: {{ selectedProduct.price ? selectedProduct.price.price : 'Nog niet toegekend' }}</p>
        </div>
        <form id="updatePrice" @submit.prevent="sendPutRequest(selectedProduct.id)">
            <div class="pos-rel floating-input my-2">
                <input v-model="data.price" type="text" class="floating-input" required placeholder=" " name="price"
                    id="price">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="price">Nieuwe prijs:</label>
            </div>
        </form>

        <div class="d-flex">
            <button tabindex="0" type="submit" form="updatePrice">Wijzig</button>
            <button tabindex="0" @click="closeDialog()">Terug</button>
        </div>
    </dialog>
</template>
