<script setup>
import { usePage, Head } from '@inertiajs/vue3';
import UserLayout from '@/Layouts/UserLayout.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import MachineDisplay from '@/Components/MachineComponents/MachineDisplay.vue';
import ShoppingDisplay from '@/Components/MachineComponents/ShoppingDisplay.vue';
import { computed } from 'vue';

defineOptions({ layout: [AppLayout, UserLayout] });

const page = usePage();
const machine = computed(() => page.props.machine);
const storages = computed(() => page.props.storages);
const storageTypes = computed(() => page.props.storageTypes);
const products = computed(() => page.props.products);
const coins = computed(() => page.props.coins);
</script>

<template>

    <Head :title="machine.name"></Head>
    <div class="machine">
        <h1>Koop als klant</h1>
        <section class="d-flex flex-column">
            <ShoppingDisplay :machine-id="machine.id" :storages="storages" :coins="coins" :products="products" />
            <MachineDisplay :storage-types="storageTypes" :storages="storages" :customerMode="true" :products="products"
                :editMode="false" />
        </section>
    </div>
</template>
