<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import LoginForm from '@/Components/Forms/LoginForm.vue';
import { Head, usePage, Link } from '@inertiajs/vue3';

import { computed } from 'vue';
const page = usePage();
const auth = computed(() => page.props.auth.user);
defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
});
defineOptions({ layout: AppLayout });
</script>
<template>
    <Head title="Welkom" />

    <header class="header">
        <h1 class="text-center">Leer over onze boerderijautomaten</h1>
    </header>
    <section class="d-flex grid-2">
        <article class="text-center nav-color blur mx-3 p-2 mb-2 text-white">
            <header><h2>Welkom op de website van Boerocratie</h2></header>
            <h3>Leer over onze boerderijautomaat in 5 stappen!</h3>
            <ol>
                <li class="mb-1"><Link tabindex="-1" href="/register">Maak</Link> een account</li>
                <li class="mb-1">Bouw een machine</li>
                <li class="mb-1">Kies de vakken en producten die u wil verkopen</li>
                <li class="mb-1">Maak de machine</li>
                <li class="mb-1">Beleef de ervaring als klant en beheer uw machine!</li>
            </ol>
        </article>

        <article v-if="!auth" class="px-3 nav-color text-center blur mb-2 mx-3">
            <header><h2 class="text-white">
                Log hier in
            </h2></header>
            <LoginForm />
        </article>
    </section>
</template>
