.tooltip {
    border: 1px solid;
    border-radius: 90%;
    padding: .3rem;
}

.card {
    border-radius: 30px;
}

.blur {
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0 0 7px black;
}

.popup {
    position: absolute;
    z-index: 2000;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

.button-submit {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-block: 1rem;
    border-radius: 10px;
}

.button-submit:focus,
.button-submit:hover,
.button-submit:active {
    border-color: black;
    color: white;
    fill: white;
    background-color: #06f;
}

.ul-spacing-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logged-out {
    margin: 0;
    padding: 0;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    inline-size: 100%;
    block-size: 100%;
    overflow: auto;
}

.logged-in {
    background-image: none;
    inline-size: 100%;
    block-size: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
}

.machine {
    padding: 20px;
    gap: 10px;
    block-size: 100%;
}

.cash-machine {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.3333% - 10px), 1fr));
    padding: 20px;
    gap: 10px;
    block-size: 100%;
}

.machine>div {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

table input {
    inline-size: 100%;
}

.content {
    background-color: grey;
    color: white;
    min-height: 100;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.bar {
    width: 1.56rem;
    height: 0.19rem;
    margin: 0.31rem 0;
    transition: 0.4s;
    position: relative;
    display: block;
    width: 19.69rem;
}

.burger-bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
}

.full-x-nav {
    align-items: center;
    padding: 0 1rem 0 0;
}

div[role="button"],
button {
    cursor: pointer;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    margin-left: auto;
}

.storage {
    block-size: 100%;
    inline-size: 100%
}

.storages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 10px;
    border: 1px solid black;
}

.storages>* {
    border: 1px solid black;
    text-align: center;
}

.storage-standaard {
    border: black solid 10px;
}

.storage-gekoeld {
    border: blue solid 10px;
}

.storage-verwarmd {
    border: red solid 10px;
}

.storage-open-0 {
    border: -220px black;
}

.storage-open-0 img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.storage-open-1 img {
    cursor: pointer;
}

.window-container {
    position: relative;
    block-size: 12.5rem;
    border: 2px solid #000;
    overflow: hidden;
    background: #e0e0e0;
    margin-bottom: 20px;
}

.window-pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transition: transform 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.window-container.open .window-pane {
    transform: translateX(100%);
}

.window-container.closed .window-pane {
    transform: translateX(0);
}

.about-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.product-card:hover {
    box-shadow: inset 0 0 4px 3px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    width: 100px;
    height: 100px;
}

.product-card-image {
    inline-size: 75%;
    block-size: auto;
}

@media (max-width: 1200px) {
    .machine {
        grid-template-columns: auto;
    }

    .machine>div {
        inline-size: 40%;
    }
}

@media (max-width: 768px) {
    .user-view {
        flex-direction: column;
    }

    .user-view>footer {
        flex: 0;
    }

    .button-submit {
        min-width: 9.5rem;
    }

    .menu-toggle {
        display: block;
    }


    .menu-toggle {
        display: block;
    }

    ul.d-flex {
        display: none;
    }

    ul.d-flex.show-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        width: 100%;
        border: 1px solid #ccc;
        color: black;
        z-index: 200;
    }

    ul.d-flex.show-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        width: 100%;
        border: 1px solid #ccc;
        color: black;
        z-index: 200;
    }

    #selectionDisplay {
        border: 1px solid;
        inline-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-2 {
        grid-template-columns: 1fr;
    }
}