.d-flex {
    display: flex;
}

.dis-block {
    display: block;
}

.d-grid {
    display: grid;
}

.gap-3{
    gap: 3rem;
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-split {
    justify-content: space-around;
}

.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

@media (max-width: 768px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
}