[x-cloak] {
    display: none;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

ul,
li,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    max-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    inline-size: 100%;
}

ul {
    list-style: none;
}

ul li {
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(34, 164, 58);
}

input {
    outline: none;
    border: none;
}

main {
    block-size: 80%;
    padding: 3rem 0 0 3rem;
    color: black;
    position: relative;
    text-align: center;
}

h1 {
    margin-block-start: 0;
    font-size: 2.1;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

form>div {
    margin-block: .9rem;
}

table {
    inline-size: 100%;
}

tr:nth-child(odd) {
    background-color: #1f404449;

}

tr:nth-child(even),
th {
    background-color: #f2f2f23d;

}

dialog p,
dialog label {
    color: black;
    text-shadow: none;
}

div[role="button"],
select,
button {
    cursor: pointer;
}

@media (max-width: 800px) {
    main {
        padding: 0;
    }
}