nav > * {
    font-size: 1.3rem;
}
nav{
    min-height: 7vh;
    position: relative;
}

nav img{
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    /* padding: 5px;  */
}
nav >div>a{
    margin-inline: 0;
}