.ml-auto {
    margin-left: auto;
}

.mx-auto {
    margin-inline: auto;
}

.m-auto {
    margin: auto;
}
.inline-auto{
    inline-size: auto;
}
.inline-50 {
    inline-size: 50%;
}

.inline-75 {
    inline-size: 75%;
}

.inline-100 {
    inline-size: 100%;
}
.z-100{
    z-index: 100;
}
.z-1000{
    z-index: 1000;
}
.overflow-auto{
    overflow: auto;
}
.fill-parent {
    block-size: 100%;
    inline-size: 100%;
}
.block-100{
    block-size: 100%;
}

.float-top {
    position: absolute;
    top: 0;
}

.pos-abs {
    position: relative;
}
.pos-rel {
    position: relative;
}

.pos-fixed{
    position: fixed;
}

.width-fit {
    inline-size: fit-content;
}