.mt-2 {
    margin-block-start: 2rem;
}

.mb-1 {
    margin-block-end: 1rem;
}

.mb-2 {
    margin-block-end: 2rem;
}

.mb-3 {
    margin-block-end: 3rem;
}

.mb-4 {
    margin-block-end: 4rem;
}

.my-1 {
    margin-block: 1rem;
}

.my-2 {
    margin-block: 2rem;
}

.my-3 {
    margin-block: 3rem;
}

.mx-3 {
    margin-inline: 3rem;
}

.pt-2 {
    padding-block-start: 2rem;
}

.pb-2 {
    padding-block-end: 2rem;
}

.py-1 {
    padding-block: 1rem;
}

.py-2 {
    padding-block: 2rem;
}

.py-3 {
    padding-block: 2rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.px-2 {
    padding-inline: 2rem;
}

.px-3 {
    padding-inline: 3rem;
}

.h-50 {
    block-size: 50vh;
}
