.menu-color {
    background-color: hsla(167, 100%, 76%, 1);
}

.nav-color {
    background-color: hsla(168, 32%, 29%, 1);
}

.text-white {
    color: white;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.background-black{
    background-color: black;
}
.focus-link {
    font-size: 1.6rem;
}

.text-center {
    text-align: center;
}

.in-text-link {
    padding: 0;
    margin: 0;
    text-decoration: underline;
    color: blue;
    text-shadow: none;
}

.active-link {
    text-decoration: underline;
}

.error-message {
    color: black;
    text-shadow: 0 0 5px white, 0 0 2px black;
    font-weight: 600;
}

.standard-border1 {
    border: 1px solid;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.cursor {
    cursor: pointer;
}

.success {
    background-color: green;
    color: white;
    text-align: center;
}

.fail {
    background-color: red;
    color: white;
    text-align: center;
}

.show-link {
    color: white;
    border: 2px dotted white;
    padding: 2px;
    border-radius: 40px;
}