<script setup>
import { ref, defineProps } from 'vue';

const props = defineProps({
    storages:  Object,
});
const currentIndex = ref(0);

const prevSlide = () => {
    if (currentIndex.value >= 1) currentIndex.value -= 1;
};
const nextSlide = () => {
    console.log(storages.value);
    if (currentIndex.value + 1 < storages.value.length) currentIndex.value += 1;
};
</script>

<template>
    <div v-if="storages">
        <p>Aantal vakken: {{ storages.length }}</p>

        <div v-for="(storage, index) in storages" :key="index" v-show="currentIndex === index">
            Vak: {{ index + 1 }}
            <ul>
                <li>Product: {{ storage.productId.name }}</li>
                <li>Prijs per {{ storage.productId.SKU }} &euro;{{ storage.price }},&hyphen;</li>
                <li>Minimale temperatuur van het vak: {{ storage.minTemp }} C&deg;</li>
                <li>Maximale temperatuur van het vak: {{ storage.maxTemp }} C&deg;</li>
            </ul>
        </div>
        <div class="my-2">
            <button @click="prevSlide">Vorige</button>
            <button @click="nextSlide">Volgende</button>
        </div>
    </div>
</template>
