<script setup>
import { usePage, Link } from '@inertiajs/vue3';
import { computed } from 'vue';


const page = usePage();
const props = page.props;

const description = computed(() => {
  return {
    503: 'We zijn bezig met onderhoud, probeer het later opnieuw!',
    500: 'Er ging iets fout aan onze kant, probeer het opnieuw!',
    404: 'Deze pagina kon niet worden gevonden.',
    403: 'Je hebt hier geen toegang toe.',
  }
})

const images = computed(()=>{
  return {
    503: '/images/error-503.jpg',
    500: '/images/error-500.jpg',
    404: '/images/error-404.svg',
    403: '/images/error-403.jpg',
  }
})
</script>

<template>
  <main>
    <h1>Oeps, fout {{ props.statusCode }}!</h1>
    <img :src="images[props.statusCode]" height="300" width="400" :alt="`foto van fout ${props.statusCode}`">
    <p>Of met andere woorden: <br> {{ description[props.statusCode] }}</p>
    <Link href="/"><b>Keer terug</b></Link>
    </main>
</template>
