<script setup>
import { Link } from '@inertiajs/vue3';
import { computed } from 'vue';
import UserLayout from '@/Layouts/UserLayout.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import StorageComponent from '@/Components/MachineComponents/StorageComponent.vue';

defineOptions({ layout: [AppLayout, UserLayout] });
const missingPrice = computed(() => props.products.some(prod => !prod.price));
const props = defineProps({
    machineId: Number,
    products: Array,
    storages: Array,
    storageTypes: Array,
    editMode: Boolean,
    customerMode: Boolean,
});

const storagesWithProduct = computed(() => {
    return props.storages.map(storage => {
        const product = props.products.find(product => product.id === storage.product_id);
        const type = props.storageTypes.find(type => type.id === storage.storage_property_id)
        return {
            ...storage,
            product,
            type
        };
    });
});

const filteredProducts = (storage) => {
    return props.products.filter((product) => product.storage_property_id === storage.storage_property_id);
}
</script>

<template>
    <section class="storages border-standard1 d-flex">
        <div v-for="(storage, index) in storagesWithProduct" :key="storage.id">
            <StorageComponent :vakNummer="++index" :editMode="editMode" :customerMode="customerMode" :storage="storage"
                :filteredProducts=filteredProducts(storage) />
        </div>
    </section>
    <aside>
        <small v-if="missingPrice">
            *Als er geen prijs is toegekend aan een product, kan een klant het product niet kopen. Ga naar
            <Link class="m-0" tabindex="-1" href="/products">voorraadbeheer</Link> om de prijs toe te kennen.
        </small>
        <br />
        <small>Blauwe vakken = gekoeld
            <br />
            Rode vakken = verwarmd
            <br />
            Zwarte vakken = standaard </small>
    </aside>
</template>
