<script setup>
import { router } from '@inertiajs/vue3';
import { computed } from 'vue';
const props = defineProps({
    storage: Object,
    editMode: Boolean,
    filteredProducts: Array,
    vakNummer: Number,
    customerMode: Boolean,
});

const productName = computed(() => {
    if (props.storage.product?.name !== undefined) {
        return capitalizeFirstLetter(props.storage.product.name)
    } else {
        return 'Nog geen product toegewezen';
    }
});
const productPrice = computed(() => {
    if (props.storage.product?.price?.price !== undefined) {
        const roundedPrice = props.storage.product.price.price.toFixed(2).replace('.', ',');
        return `&euro;${roundedPrice},&hyphen;`;
    } else {
        return 'Nog geen prijs toegewezen';
    }
});
const openStorage = (storage) => {
    const storageId = storage.id;
    router.put(`/storage/manage/${storageId}/latch`);
};

const fillStorage = (storage) => {
    if (props.editMode || (props.customerMode && storage.is_filled)) {
        const storageId = storage.id;
        router.put(`/storage/manage/${storageId}/stock`);
    }
};

const capitalizeFirstLetter = (string) => {
    return string.charAt(0).toUpperCase() + string.slice(1);
};
</script>

<template>
    <div>Vak {{ vakNummer }}</div>
    <div :class="`pos-rel storage `">
        <div>
            <select title="Kies een product voor dit vak" v-if="editMode"
                @change="router.put(`/storage/manage/${storage.id}/switch`, { product_id: $event.target.value })">
                <option selected disabled hidden>{{ productName ?? 'Maak een keuze' }}</option>
                <option tabindex="0" v-for="product in filteredProducts" :key="product.id" :value="product.id">
                    {{ capitalizeFirstLetter(product.name) }}
                </option>
            </select>
        </div>
        <div
            :class="`window-container inline-auto storage-open-${storage.is_open}  ${storage.is_open ? 'open' : 'closed'}`">
            <div :class="`window-pane z-100 storage-${storage.type.type}`"></div>
            <div class="fill-parent background-black">
                <div v-if="storage.product" :class="`block-100 storage-open-${storage.is_open}`"
                    @click="fillStorage(storage)">
                    <img loading="lazy" v-if="storage.is_filled" @click="fillStorage(storage)" class="fill-parent"
                        :src="`/images/products/${storage.product.name}.jpg`" height="100" width="100"
                        :alt="storage.product.name">
                    <img v-else @click="fillStorage(storage)" :src="`/images/vul.jpg`" height="100" class="fill-parent"
                        width="100" :alt="storage.product.name">
                </div>
                <div v-else :class="`block-100 storage-open-${storage.is_open}`"
                    @click="fillStorage(storage)">
                    <img  @click="fillStorage(storage)" :src="`/images/vul.jpg`" height="100" class="fill-parent"
                        width="100" alt="Leeg vak">
                </div>
            </div>
        </div>

        <div class="">{{ productName }}</div>
        <div>
            <span v-html="productPrice"></span>
        </div>
        <div v-if="(customerMode && storage.paid) || (customerMode && storage.is_open) || editMode" role="button"
            @click="openStorage(storage)" tabindex="0" @keydown.enter="openStorage(storage)">
            <img src="/images/deurklink.png" height="80" width="200" alt="deurklink">
        </div>
    </div>
</template>
