<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';

defineOptions({ layout: [AppLayout] });

</script>

<template>
    <section class="mb-3 pb-3 blur nav-color text-white mx-auto inline-50">
      <header>
        <img src="/images/logo.svg" width="100" height="100" alt="Boerocratie Logo" class="logo" />
        <h1>Over Boerocratie</h1>
      </header>
      <article class="mb-3 inline-75 mx-auto">
        <h2>Wie wij zijn</h2>
        <p>
            Boerocratie is een toonaangevende leverancier van agrarische machines, gevestigd in Naaldwijk.
        Ons bedrijf richt zich op de verkoop van geavanceerde machines voor agrarisch gebruik.
        We zijn trots op onze uitgebreide kennis en ervaring in de agrarische sector.
        </p>
       
      </article>
     
      <article class="mb-3 inline-75 mx-auto">
        <h2>Wat wij doen</h2>
        <p>
            Wij leveren hoogwaardige agrarische machines die boerderijen efficiënter en productiever maken.
        Onze producten variëren van automatische koeienmelkers tot de nieuwste Turbo Tractor 8000 MegaFarmer.
        We zorgen ervoor dat onze klanten toegang hebben tot de beste technologieën die beschikbaar zijn.

        </p>
       
      </article>
      <article class="mb-3 inline-75 mx-auto">
        <h2>Onze missie</h2>
        <p>
            Onze missie is om boerderijen te voorzien van de meest geavanceerde en betrouwbare machines,
        waardoor ze hun productieprocessen kunnen optimaliseren en duurzame landbouw kunnen bevorderen.
        We streven ernaar om innovatie en kwaliteit te leveren in alles wat we doen.

        </p>
       
      </article>
      <article class="pb-2 inline-75 mx-auto">
        <h2>Hoe wij uw bedrijf kunnen helpen</h2>
        <p class="mb-3">
        We bieden oplossingen op maat die aansluiten bij de specifieke behoeften van uw boerderij.
        Of het nu gaat om het verhogen van de efficiëntie, het verbeteren van de productkwaliteit,
        of het verlagen van operationele kosten, Boerocratie heeft de expertise en de middelen
        om uw bedrijf te helpen groeien en bloeien. Neem vandaag nog contact met ons op om te
        ontdekken hoe we uw boerderij naar een hoger niveau kunnen tillen.

        </p>
       
      </article>
     
    </section>
  </template>
