<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';

defineOptions({ layout: [AppLayout] });

</script>
<template>
    <section class="mb-3 pb-3 blur nav-color text-white mx-auto inline-75">
    <header>
        <img src="/images/logo.svg" width="100" height="100" alt="Boerocratie Logo" class="logo" />
        <h1>Onze producten</h1>
      </header>
      <div class="grid-2 gap-2">
        <article class="product-card mb-3 mx-3 p-3 standard-border1 text-center">
          <img src="/images/melkrobot.jpg" alt="Automatische Koeienmelker" class="product-card-image mx-auto" />
          <h3 class="text-white my-2">Automatische Koeienmelker</h3>
          <p class="text-white">
            Onze automatische koeienmelker is ontworpen om het melken van koeien efficiënter
            en gemakkelijker te maken. Deze machine zorgt voor een snelle en hygiënische melking,
            waardoor de productiviteit op uw boerderij wordt verhoogd.
          </p>
        </article>
        <article class="product-card mb-3 mx-3 p-3 standard-border1 text-center">
          <img src="/images/flamethrower-tractor.jpg" alt="Turbo Tractor 8000 MegaFarmer"
            class="product-card-image mx-auto" />
          <h3 class="text-white my-2">Turbo Tractor 8000 MegaFarmer</h3>
          <p class="text-white">
            De Turbo Tractor 8000 MegaFarmer is onze nieuwste innovatie. Deze krachtige tractor
            is uitgerust met de nieuwste technologieën, zoals 32 turbo uitlaten, om het werk op uw boerderij sneller en
            efficiënter te maken. Met zijn robuuste ontwerp en geavanceerde functies is dit de
            ideale tractor voor elke moderne boerderij.
          </p>
        </article>
        <article class="product-card mb-3 mx-3 p-3 standard-border1 text-center">
          <img src="/images/boerderijautomaat.jpg" alt="Turbo Tractor 8000 MegaFarmer" class="product-card-image mx-auto" />
          <h3 class="text-white my-2">Boerderijautomaat</h3>
          <p class="text-white">
            Een boerderijautomaat is een innovatieve verkoopoplossing waarmee agrarische producten direct aan klanten
            worden aangeboden. De automaat bestaat uit meerdere luiken waarin verse producten zoals zuivel, eieren,
            groenten en fruit kunnen worden opgeslagen. Klanten kunnen gemakkelijk een luik openen, het gewenste product
            kiezen en afrekenen via een eenvoudig betalingssysteem. Deze automaten maken het mogelijk om 24/7 verse
            boerderijproducten te verkopen, waardoor klanten op elk moment van de dag toegang hebben tot hoogwaardige,
            lokaal geproduceerde etenswaren.

          </p>
        </article>
      </div>
    </section>
</template>
