<script setup>
import { ref, onMounted } from 'vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import { usePage, useForm } from '@inertiajs/vue3';
defineOptions({ layout: AppLayout });

const page = usePage();

const form = useForm({
    name: '',
    email: '',
    message: ''
});

const message = ref('');

const dummySubmit = () => {
    message.value = "Formulier succesvol verzonden!";
    form.reset();
};

onMounted(() => {
  if(!page.props.auth.user){
    return;
  }
    form.name = page.props.auth.user.name;
    form.email = page.props.auth.user.email;
});
</script>

<template>
    <section class="mb-3 blur nav-color text-white mx-auto inline-50">
        <header>
            <img src="/images/logo.svg" width="100" height="100" alt="Boerocratie Logo" class="logo" />
            <h1>Over Boerocratie</h1>
        </header>
        <article class="pb-2 inline-75 mx-auto">
            <h2>Neem contact met ons op</h2>
            <p>
                Heb je vragen over onze producten? Wil je een offerte of wil je met een verkoper spreken? Neem dan contact met ons op via <a href="tel:123-456-7890">123-456-7890</a>.
                Of neem contact met ons op via het vraagformulier hieronder.
            </p>
            <form @submit.prevent="dummySubmit" class="text-center d-flex flex-column">
                <div class="mx-auto">
                    <label for="name">Naam:<span class="text-red">*</span></label>
                    <input id="name" v-model="form.name" type="text">
                </div>
                <div class="mx-auto">
                    <label for="email">E-mail:<span class="text-red">*</span></label>
                    <input id="email" v-model="form.email" type="email">
                </div>
                <div class="mx-auto">
                    <span class="dis-block">Bericht:<span class="text-red">*</span></span>
                    <textarea cols="60" rows="10" id="message" v-model="form.message"></textarea>
                </div>
              </form>
              <button :disabled="form.processing" type="submit" class="button-submit">Verstuur</button>
            <p>{{ message }}</p>
        </article>
        <article class="pb-2 inline-75 mx-auto">
            <h2>Kom langs</h2>
            <p>
                We zijn gevestigd in Honselaarsdijk en onze deuren staan altijd voor u open, behalve tijdens sluitingstijd!
                <address>
                    <ul>
                        <li>Middel Broekweg 29b</li>
                        <li>2675KB Honselaarsdijk</li>
                    </ul>
                </address>
            </p>
        </article>
    </section>
</template>
