<script setup>
import { usePage } from '@inertiajs/vue3';
import UserLayout from '@/Layouts/UserLayout.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import { computed, reactive, watch, ref } from 'vue';

defineOptions({ layout: [AppLayout, UserLayout] });

defineProps({
    storages: Object,
    addStorageTo: Function,
    storageTypes: Object,
});

const emit = defineEmits(['addStorage']);
const props = usePage().props;
const products = computed(() => props.products);

const storage = reactive({
    canCool: false,
    type: null,
    product_id: null,
});
const product = ref(null);

const selectedProducts = computed(() => {
    const storageTypeId = props.storageTypes.find(type => type.id === storage.type)?.id ?? null;
    if (!storageTypeId) return products.value;
    const filteredProducts = products.value.filter(product => product.storage_property_id === storageTypeId);
    return filteredProducts;
});

const canAddStorage = computed(() => {
    return storage.type !== null || storage.product_id !== null;
});

watch(() => product.value, (newProduct) => {
    if (newProduct) {
        storage.product_id = newProduct.id;
    }
});

function addStorage() {
    if (!canAddStorage.value) return;
    emit('addStorage', { ...storage });
    storage.canCool = false;
    storage.storage_type = null;
    storage.product_id = null;
    product.value = null;
}
</script>

<template>
    <article class="pos-rel">
        <form @submit.prevent=" " action="login" class="d-flex flex-center flex-column py-2 card">
            Maak hier vakken voor uw machine:
            <div class="pos-rel my-2 ">
                <label class="pos-rel" for="product">Type vak</label>
                <select aria-label="Kies het type vak dat u wil" class="mx-3" v-if="storageTypes" name="storageType" id="storageType" v-model="storage.type">
                    <option :value="null" selected="selected">Maak een keuze</option>
                    <option v-for="storageType in storageTypes" :value="storageType.id">{{ storageType.type }}
                    </option>
                </select>
            </div>
            <div class="pos-rel my-2 ">
                <label class="pos-rel" for="product">Product</label>
                <select  class="mx-3" v-if="products" name="product" id="product" v-model="product">
                    <option aria-label="Kies hier het product voor uw vak" :value="null" selected="selected">Maak een keuze</option>
                    <option v-if="storage.type" :value="null">Voorlopig leeg</option>
                    <option v-for="product in selectedProducts" :value="product">{{ product.name }}</option>
                </select>
            </div>
            <div>
                <button :disabled="!canAddStorage" @click="addStorage">+</button>
            </div>
        </form>
    </article>
</template>
