<script setup>
import { useForm } from '@inertiajs/vue3';
import ErrorMessage from '../CustomComponents/ErrorMessage.vue';
const form = useForm({
    email: null,
    password: null
});
function submit() {
    form.errors = {};
    form.post('/auth/login', form);
}
</script>

<template>
    <form @submit.prevent="submit" class=" d-flex flex-center flex-column py-2 card">
        <div class="pos-rel floating-input my-2 ">
            <input class="floating-input" placeholder=" " required minlength="6" type="email" name="email" id="email"
                v-model="form.email">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="email">Email</label>
        </div>
        <div class="pos-rel floating-input my-2">
            <input class="floating-input" placeholder=" " type="password" required minlength="8" name="password"
                id="password" v-model="form.password">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="password">Wachtwoord</label>
        </div>
        <div v-if="form.errors.email">
            <ErrorMessage :errors="form.errors.email" />
        </div>
        <div v-if="form.errors.password">
            <ErrorMessage :errors="form.errors.password" />
        </div>
        <div class="">
            <button :disabled="form.processing" class="button-submit" type="submit">Submit</button>
        </div>
    </form>
</template>
