<script setup>
import { ref, watch } from 'vue';
import ErrorMessage from '../CustomComponents/ErrorMessage.vue';
import { useForm } from '@inertiajs/vue3';

const passwordPattern = /^(?=.*[A-Za-z])(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,50}$/;
const message = ref('');
const labelClass = ref('');
const form = useForm({
    name: null,
    email: null,
    password: null,
    password_confirmation: null,
    terms: false
});

watch(() => [form.password, form.password_confirmation], ([newPassword, newPasswordConfirmation]) => {
    if (!passwordPattern.test(newPassword)) {
        message.value = 'Wachtwoord moet minimaal 8 tekens en een speciaal teken bevatten.';
        labelClass.value = '';
    } else if (newPassword !== newPasswordConfirmation) {
        message.value = 'Wachtwoorden komen niet overeen';
        labelClass.value = 'fail';
    } else {
        message.value = 'Wachtwoorden komen overeen';
        labelClass.value = 'success';
    }
});

function submit() {
    form.post('/auth/register');
}
</script>

<template>
    <form @submit.prevent="submit" class="d-flex flex-center flex-column pt-2 card">
        <div class="pos-rel floating-input">
            <input autocomplete="name" class="floating-input" v-model="form.name" placeholder=" " required minlength="2"
                type="text" name="name" id="name">
            <label for="name">Naam</label>
        </div>
        <div v-if="form.errors.name" class="mb-1">
            <ErrorMessage :errors="form.errors.name" />
        </div>
        <div class="pos-rel floating-input">
            <input autocomplete="email" @input="form.clearErrors('email')" class="floating-input" v-model="form.email"
                placeholder=" " required minlength="8" type="email" name="email" id="email">
            <label for="email">Email</label>
        </div>
        <div v-if="form.errors.email" class="mb-1">
            <ErrorMessage :errors="form.errors.email" />
        </div>
        <div class="pos-rel floating-input">
            <input autocomplete="new-password" @input="form.clearErrors('password')" class="floating-input"
                v-model="form.password" placeholder=" " type="password" required minlength="8" id="password"
                name="password" pattern="^(?=.*[A-Za-z])(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,50}$">
            <label for="password">Wachtwoord</label>
        </div>
        <div v-if="form.errors.password" class="mb-1">
            <ErrorMessage :errors="form.errors.password" />
        </div>
        <div class="pos-rel floating-input">
            <input autocomplete="new-password" @input="form.clearErrors('password-confirmation')" class="floating-input"
                v-model="form.password_confirmation" placeholder=" " type="password" required minlength="8"
                name="password_confirmation" id="password_confirmation"
                pattern="^(?=.*[A-Za-z])(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,50}$">
            <label for="password_confirmation">Wachtwoord Bevestigen</label>
        </div>
        <div v-if="form.errors.password_confirmation" class="mb-1">
            <ErrorMessage :errors="form.errors.password_confirmation" />
        </div>
        <p :class="labelClass" class="text-white">{{ message }}</p>
        <div>
            <button :disabled="form.processing" class="button-submit" type="submit">Submit</button>
        </div>
    </form>
</template>
