<script setup>
import { ref } from 'vue';
const tooltip = ref(false);
</script>

<template>
    <div @click="tooltip = !tooltip" class="popup" :hidden="!tooltip">
        U kunt een vak alleen kiezen als deze <em>vol en gevuld is en een prijs heeft toegekend</em>.
        <figure>
            <figcaption class="standard-border1">Vakken selecteren</figcaption>
            <ol>
                <li>Voer het vaknummer in van het beoogde vak</li>
                <li>Druk op OK</li>
            </ol>
        </figure>
        <figure>
            <figcaption class="standard-border1">Wilt u afrekenen?</figcaption>
            <ol>
                <li>Druk op #</li>
                <li>Druk op OK</li>
                <li>Kies een betaalwijze</li>
                <li>Handel de betaling af</li>
            </ol>
        </figure>
        <figure>
            <figcaption class="standard-border1">Uw betaalde product pakken</figcaption>
            <ol>
                <li>Open het vak met de rode knop"</li>
                <li>Klik op het product</li>
                <li>Sluit het vak met de rode knop</li>
            </ol>
        </figure>
        <p class="standard-border1"> Druk op C om de terminal of uw keuzes te resetten</p>
    </div>
    <p aria-label="Lees hier de instructies om te kopen" class="p-2 cursor dis-block width-fit mx-auto" tabindex="0"
        @keydown.enter="tooltip = !tooltip" @click="tooltip = !tooltip">Instructies <span class="tooltip">?</span></p>
</template>
