<script setup>
import { ref, watch } from 'vue';

const props = defineProps({
  flash: Object,
});

let flashMessage = ref(props.flash.message);
let hiddenMessage = ref(false);

// Watch for changes in the flash message
watch(
  () => props.flash.message,
  (newMessage) => {
    flashMessage.value = newMessage;
    hiddenMessage.value = false; 
  }
);

</script>

<template>
  <transition name="fade">
    <div aria-roledescription="Bericht" role="alert" v-if="!hiddenMessage && flashMessage" :class="flash.status">
      {{ flashMessage }}
      <button @click="hiddenMessage = true">x</button>
    </div>
  </transition>
</template>

