  <script setup>
  import { Link } from '@inertiajs/vue3';
  
  const props = defineProps({
      buttonText: String,
      data: Object,
      href: String,
      disabled: Boolean,
  });

  const emits = defineEmits(['click']);

function handleClick() {
  emits('click');
}
  </script>

<template>
    <Link :disabled="disabled" @click="handleClick" :href="href" as="button" method="post" class="button-submit" :data="data">{{ buttonText }}</Link>
</template>

