<script setup>
import { ref, computed, watch } from 'vue';
import { usePage } from '@inertiajs/vue3';
import NavLink from '@/Components/CustomComponents/NavLink.vue';
import AuthLinks from '@/Components/LinkLists/AuthLinks.vue';
import NavLinksList from '@/Components/LinkLists/NavLinksList.vue';
import FlashMessage from '@/Components/CustomComponents/FlashMessage.vue';
defineProps({
    auth: Object
});
const page = usePage();
const user = computed(()=> page.props.auth.user);
const role = computed(()=> page.props.auth.role);
const showingNavigationDropdown = ref(false);
const flashCounter = ref(0);
const flashMessage = ref({});
watch(() => page.props.flash, (newFlashMessage) => {
    flashMessage.value = newFlashMessage;
    flashCounter.value++;
}); 
</script>

<template>
    <body :class="{  'logged-in': user,
      'logged-out': !user,}">

    <!-- Navigation -->
    <nav class="full-x-nav responsive-burger d-flex nav-color text-white">
        <div v-if="!user">
            <NavLink :href="route('home')"><img src="/images/logo.svg" alt="logo" height="100" width="100">
            </NavLink>
        </div>
        <!-- Hamburger menu -->
        <div class="menu-toggle" @click="showingNavigationDropdown = !showingNavigationDropdown">
            <div class="burger-bar"></div>
            <div class="burger-bar"></div>
            <div class="burger-bar"></div>
        </div>
        <!-- Header -->
        <ul class="d-flex" :class="{ 'show-menu': showingNavigationDropdown }">
            <NavLinksList :user="user" :userRole='role?.name'/>
        </ul>
        <ul class="ml-auto d-flex" :class="{ 'show-menu': showingNavigationDropdown }">
            <AuthLinks :user="user"  />
        </ul>
    </nav>
<FlashMessage :key="flashCounter" v-if="$page.props.flash" :flash="flashMessage" />    
    <main>
        <slot />
    </main>
</body>
</template>
