<script setup>
import { usePage } from '@inertiajs/vue3';
import { computed } from 'vue';
import UserLinks from '@/Components/LinkLists/UserLinks.vue';
const page = usePage();
const machine = computed(() => page.props.machine);
</script>

<template>
    <section aria-label="content" class="pos-rel d-flex fill-parent user-view">
        <article  class=" overflow-auto flex-3 fill-parent content">
            <slot />
        </article>
        <footer class="flex-1 d-flex flex-center align-start mb-4 text-center px-2">
            <ul aria-label="navigatie binnen de machine" class="standard-border1 py-3 px-2 menu-color h-50">
                <UserLinks :machine="machine" />
            </ul>
        </footer>
    </section>
</template>
