<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';

 import LoginForm from '@/Components/Forms/LoginForm.vue';
import { Head, Link } from '@inertiajs/vue3';
defineOptions({
    layout: AppLayout
});
defineProps({
    'auth' : Object
});

</script>

<template>
    <Head title="Login" />

    <header class="header">
        <h1 class="text-center">Log in</h1>
    </header>

    <article class="px-3 text-center text-white nav-color width-fit d-flex flex-center flex-column mx-auto">
        <LoginForm />
        <p>Heeft u nog geen account?
            <Link href="/register">
            Maak
            </Link> ene nieuw account
        </p>
    </article>
</template>
