<script setup>
import { Link, Head } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import RegisterForm from '@/Components/Forms/RegisterForm.vue';

defineOptions({
    layout: AppLayout
});

</script>

<template>

    <Head title="Registreer"></Head>
    <header class="header">
        <h1 class="text-center">Registreer</h1>
    </header>

    <article class="px-3 pb-2 text-center text-white nav-color width-fit d-flex flex-center flex-column mx-auto mb-3">
        <RegisterForm />
        <p>Heeft u al een account?
            <Link href="/login">
            Log in
            </Link>
        </p>
    </article>
</template>
